# Raw data analysis

## Getting Data for Frames

Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Using a helper function to pull in all the DataFrames together

In [2]:
from os.path import isfile, join

def df_from_zipped(path, fn):
    '''
    Takes filepath and name and returns a DataFrame
    '''
    # check formatting
    tsv = 'tsv'in fn
    if tsv:
        delimiter = '\t'
    else:
        delimiter = None
        
    joined_path = join(zipped_path + fn)
    
    print('Building df out of {} using delimiter {}'.format(fn, delimiter))
    
    try:
        return pd.read_csv(joined_path, delimiter=delimiter)
    except UnicodeDecodeError as e:
        return pd.read_csv(joined_path, delimiter=delimiter, encoding='unicode_escape')

Pull in all the files from zippedData and put them all together into a dictionary

In [3]:
from os import listdir

zipped_path = '../data/raw/'
dfs = {}

#for all in zippedData:
for fn in listdir(zipped_path):
    dfs[fn[:-7]] = df_from_zipped(zipped_path, fn)

Building df out of title.principals.tsv.gz using delimiter
Building df out of title.akas.tsv.gz using delimiter

/Users/yrgg/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Building df out of tmdb.movies.csv.gz using delimiter None
Building df out of title.basics.tsv.gz using delimiter

/Users/yrgg/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Building df out of title.crew.tsv.gz using delimiter
Building df out of title.ratings.tsv.gz using delimiter
Building df out of rt.reviews.tsv.gz using delimiter
Building df out of name.basics.tsv.gz using delimiter
Building df out of rt.movie_info.tsv.gz using delimiter
Building df out of title.episode.tsv.gz using delimiter
Building df out of tn.movie_budgets.csv.gz using delimiter None
Building df out of bom.movie_gross.csv.gz using delimiter None

Now we have a dictionary filled with DataFrame objects

In [5]:
df_names = list(dfs.keys())
df_names

['title.principals',
 'title.akas',
 'tmdb.movies',
 'title.basics',
 'title.crew',
 'title.ratings',
 'rt.reviews',
 'name.basics',
 'rt.movie_info',
 'title.episode',
 'tn.movie_budgets',
 'bom.movie_gross']

## Exploring Each DataFrame

### DataFrame 1:

Let's start looking at each DF and finding out what each one contains

In [111]:
df = dfs[df_names[0]]
df_names[0]

'title.principals'

In [112]:
df.sample(5)

,tconst,ordering,nconst,category,job,characters
12531520,tt1161819,10,nm0621023,actor,\N,\N
27476318,tt5679874,4,nm9472534,self,\N,"[""Herself - Panelist""]"
9954016,tt10804932,1,nm8930145,actor,\N,"[""Miguel Soledad""]"
30542427,tt7018522,9,nm0730075,actor,\N,"[""Ken Barlow""]"
27604224,tt5733588,1,nm0000155,self,\N,"[""Herself - Co-Hostess""]"

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38312645 entries, 0 to 38312644
Data columns (total 6 columns):
tconst        object
ordering      int64
nconst        object
category      object
job           object
characters    object
dtypes: int64(1), object(5)
memory usage: 1.7+ GB

What are these values? Maybe IDs for another DataFrame

### DataFrame 2:

In [114]:
df = dfs[df_names[1]]
df_names[1]

'title.akas'

In [115]:
df.sample(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
9971238,tt2278321,7,Episodio #4.21,IT,it,\N,\N,0
3226297,tt10283638,2,Episódio datado de 2 Novembro de 2018,PT,pt,\N,\N,0
10468881,tt2647388,2,Episodio datato 15 maggio 1984,IT,it,\N,\N,0
7881139,tt1569610,7,Episodio #1.65,ES,es,\N,\N,0
1814243,tt0665613,7,2004年4月29日 のエピソード,JP,ja,\N,\N,0

Wow there are a lot of foreign movies. Should I drop them, or could I use them to predict if Microsoft should focus on other languages as well. Lets try and find out if they have their own statistics. I doubt it, since their titleId all links to the same it.

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20666593 entries, 0 to 20666592
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 1.2+ GB

### DataFrame 3:

In [23]:
df = dfs[df_names[2]]
df_names[2]

'tmdb.movies'

In [24]:
df.sample(5)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
3180,3180,[27],149148,en,Dead Inside,3.085,2011-11-10,Dead Inside,3.8,8
24817,24817,"[53, 9648, 27]",517764,en,The Farm,4.482,2018-04-20,The Farm,4.0,18
4417,4417,[99],317875,en,Athene's Theory of Everything,0.624,2011-01-23,Athene's Theory of Everything,4.5,1
675,675,[18],57489,es,El último verano de La Boyita,2.675,2010-06-21,The Last Summer of La Boyita,7.0,11
20346,20346,"[10749, 35, 18, 10751]",391196,en,Dating Daisy,0.600,2016-04-09,Dating Daisy,5.7,3

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20666593 entries, 0 to 20666592
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 1.2+ GB

### DataFrame 4:

In [158]:
df = dfs[df_names[3]]
df_names[3]

'title.basics'

In [121]:
df.sample(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
7253667,tt7961880,tvEpisode,Episode #1.211,Episode #1.211,0,1977,\N,\N,Drama
3666344,tt2032635,tvEpisode,BC Burger Joint,BC Burger Joint,0,2011,\N,\N,"Documentary,Reality-TV,Short"
4983414,tt4031594,tvEpisode,Episode #1.174,Episode #1.174,0,\N,\N,\N,\N
7899231,tt9067952,tvEpisode,Coeur de filet de boeuf provençale aux herbes ...,Coeur de filet de boeuf provençale aux herbes ...,0,1988,\N,15,"Short,Talk-Show"
6103452,tt6003178,tvEpisode,Una sandía saltarina,Una sandía saltarina,0,2014,\N,\N,Family

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8404213 entries, 0 to 8404212
Data columns (total 9 columns):
tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtypes: int64(1), object(8)
memory usage: 577.1+ MB

How many entries for just movie titles?

In [100]:
movies = df.loc[df['titleType'] == 'movie']
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683297 entries, 10 to 8404146
Data columns (total 9 columns):
tconst            683297 non-null object
titleType         683297 non-null object
primaryTitle      683297 non-null object
originalTitle     683297 non-null object
isAdult           683297 non-null int64
startYear         683297 non-null object
endYear           683297 non-null object
runtimeMinutes    683297 non-null object
genres            683297 non-null object
dtypes: int64(1), object(8)
memory usage: 52.1+ MB

Wow, from over 8 million titles to 683k. That was a lot of non-movies.

Despite the huge drop, this is still our largest asset for movie titles.

In [102]:
movies.sample(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
7752492,tt8816412,movie,Amina,Amina,0,2019,\N,70,Documentary
1535363,tt10427674,movie,Nozoki no ecstasy,Nozoki no ecstasy,0,1989,\N,62,\N
503245,tt0418734,movie,Un hombre despiadado,Un hombre despiadado,0,1991,\N,\N,Action
6053632,tt5916756,movie,Inhuman: The Next and Final Phase of Man Is Here,Inhuman: The Next and Final Phase of Man Is Here,0,2015,\N,190,Documentary
3449134,tt1854573,movie,Tanta,Tanta,0,\N,\N,\N,Mystery

How many of these are in english?

In [152]:
# only take originals:
akas = dfs['title.akas']
original_akas = akas.loc[akas['isOriginalTitle'] == '1']
original_akas.sample(5)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
750279,tt0163324,2,"Tally Brown, New York",\N,\N,original,\N,1
2099711,tt0785072,3,The Eighth Wonder,\N,\N,original,\N,1
13749830,tt5171492,1,Ellen Bond Secret Agent,\N,\N,original,\N,1
8138740,tt1655603,3,Evil Intent,\N,\N,original,\N,1
13934109,tt5336032,1,Otsuyâ goroshî,\N,\N,original,\N,1

In [150]:
# combine title.basics with title.akas
basics = dfs['title.basics']
titles_language = akas.set_index('titleId').join(basics.set_index('tconst'))

KeyboardInterrupt:

In [130]:
titles_language.reset_index(inplace=True)

In [132]:
titles_language.rename(columns={'index': 'tconst'}, inplace=True)

In [134]:
titles_language.sample(5)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
10844242,tt1817923,5,Episodio fechado 12 octubre 1995,ES,es,\N,\N,0,tvEpisode,Episode dated 12 October 1995,Episode dated 12 October 1995,0.0,1995,\N,\N,Talk-Show
3812991,tt10171408,7,एपिसोड #10.145,IN,hi,\N,\N,0,tvEpisode,Episode #10.145,Episode #10.145,0.0,2019,\N,37,"Comedy,Family,Game-Show"
19414387,tt6474656,6,एपिसोड #1.48,IN,hi,\N,\N,0,tvEpisode,Episode #1.48,Episode #1.48,0.0,\N,\N,\N,"Family,News,Talk-Show"
10943542,tt1847513,1,Sand & Sea 4,US,\N,\N,\N,0,tvEpisode,Sand & Sea 4,Sand & Sea 4,0.0,2011,\N,\N,"Family,Game-Show"
721997,tt0084049,28,Мошенничество,SUHH,ru,imdbDisplay,\N,0,movie,Hanky Panky,Hanky Panky,0.0,1982,\N,110,"Action,Comedy,Crime"

In [148]:
# group by name, and select rows that have en language
titles_language['region'].value_counts().head(10)

FR    3233462
JP    3216644
DE    3183430
ES    3165387
IT    3150042
IN    3108648
PT    3096707
US    1144816
\N     634736
GB     295736
Name: region, dtype: int64

In [142]:
en_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 16 columns):
tconst             0 non-null object
ordering           0 non-null int64
title              0 non-null object
region             0 non-null object
language           0 non-null object
types              0 non-null object
attributes         0 non-null object
isOriginalTitle    0 non-null object
titleType          0 non-null object
primaryTitle       0 non-null object
originalTitle      0 non-null object
isAdult            0 non-null float64
startYear          0 non-null object
endYear            0 non-null object
runtimeMinutes     0 non-null object
genres             0 non-null object
dtypes: float64(1), int64(1), object(14)
memory usage: 0.0+ bytes

In [140]:
en_movies.sample(5)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
15492393,tt4082068,11,Dheepan,CA,en,imdbDisplay,\N,0,movie,Dheepan,Dheepan,0.0,2015,\N,115,"Crime,Drama"
25406804,tt9650116,2,Sangokushi Rumble,JP,en,imdbDisplay,\N,0,videoGame,Sangokushi ranbu,Sangokushi ranbu,0.0,2013,\N,\N,Adventure
23600139,tt8788458,1,The Promised Neverland,XWW,en,imdbDisplay,\N,0,tvSeries,The Promised Neverland,Yakusoku no Neverland,0.0,2019,\N,30,"Animation,Fantasy,Horror"
1192330,tt0239777,3,Paradise Is a Trap,XWW,en,\N,\N,0,tvMovie,Paradise Is a Trap,Das Paradies ist eine Falle,0.0,2002,\N,90,Comedy
13035544,tt2517662,3,Triangle of Death,XWW,en,imdbDisplay,\N,0,movie,Triangle of Death,Trójkat smierci,0.0,1990,\N,57,Documentary

How many of these movies have missing genre variables?

In [109]:
movies['genres'].value_counts()

Drama                     126168
Documentary                96389
\N                         70831
Comedy                     51640
Horror                     16019
                           ...
Music,Romance,Sport            1
Adventure,Crime,Music          1
Action,Fantasy,Sport           1
Comedy,News,Reality-TV         1
Drama,News,Sci-Fi              1
Name: genres, Length: 1436, dtype: int64

Missing 70k. Thats a lot. Maybe we can fill those in from another source.

### DataFrame 5:

In [67]:
df_names[4]

'title.crew'

In [68]:
dfs[df_names[4]].sample(5)

             tconst   directors    writers
672388    tt0694314   nm3652838  nm3652838
91920     tt0093961   nm0005139  nm0005139
5813623   tt8184738          \N  nm1459509
5816510   tt8190908          \N         \N
1015113  tt10080998  nm10573485         \N

In [69]:
dfs[df_names[4]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6632466 entries, 0 to 6632465
Data columns (total 3 columns):
tconst       object
directors    object
writers      object
dtypes: object(3)
memory usage: 151.8+ MB

### DataFrame 6:

In [154]:
df_names[5]

'title.ratings'

In [65]:
dfs[df_names[5]].sample(5)

            tconst  averageRating  numVotes
809210   tt4322260            7.2        75
445001  tt10264976            6.9        48
612028   tt1789276            6.9        45
296975   tt0594341            7.1        72
475812  tt11100592            9.1        52

In [153]:
dfs[df_names[5]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038178 entries, 0 to 1038177
Data columns (total 3 columns):
tconst           1038178 non-null object
averageRating    1038178 non-null float64
numVotes         1038178 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.8+ MB

### DataFrame 7:

In [155]:
df_names[6]

'rt.reviews'

In [156]:
dfs[df_names[6]].sample(5)

,id,review,rating,fresh,critic,top_critic,publisher,date
44963,1691,Contrived and pretentious from title card to e...,1.5/5,rotten,Tom Clift,0,Concrete Playground,"September 22, 2014"
39195,1507,"Well, what did anyone expect Daddy Day Camp to...",2/4,fresh,Fred Topel,0,Hollywood.com,"August 8, 2007"
50343,1877,Most of Hancock's faults can be forgiven becau...,3/4,fresh,Brett McCracken,0,Christianity Today,"July 10, 2008"
43961,1647,Sometimes the most dated parts of an old film ...,3/4,fresh,Steve Rhodes,0,Internet Reviews,"January 1, 2000"
25038,1013,With its unpredictable sexual politics and qui...,NaN,fresh,Mary F. Pols,1,TIME Magazine,"January 26, 2012"

In [157]:
dfs[df_names[6]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
id            54432 non-null int64
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

### DataFrame 8:

In [41]:
df_names[7]

'name.basics'

In [59]:
dfs[df_names[7]].sample(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
8122299,nm7830849,Wan-Ting Tseng,\N,\N,"actress,soundtrack","tt7803258,tt6985020,tt7826722,tt9900688"
990787,nm10068521,Snezana Jovanovic,\N,\N,NaN,tt8886156
2787123,nm1653884,Dick Morris,1948,\N,writer,"tt0427228,tt1624385,tt1753485,tt0468424"
322431,nm0339773,Christopher Gregory,\N,\N,writer,tt0141667
5064024,nm4198756,Saskia Ryan,\N,\N,actress,tt1533435

In [60]:
dfs[df_names[7]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9951310 entries, 0 to 9951309
Data columns (total 6 columns):
nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtypes: object(6)
memory usage: 455.5+ MB

### DataFrame 9:

In [44]:
df_names[8]

'rt.movie_info'

In [57]:
dfs[df_names[8]].sample(5)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1198,1536,A bunch of rap-star wannabes attempt gangsta r...,R,Comedy,Tamra Davis,Chris Rock|Nelson George|Robert LoCash,"Mar 12, 1993","Jan 14, 2003",NaN,NaN,88 minutes,NaN
843,1090,Voter apathy in the United States is at an all...,R,Classics|Comedy,NaN,Jack Margolis,"Apr 1, 1975","Sep 2, 2008",NaN,NaN,95 minutes,NaN
473,618,A would-be Nashville star finds himself in hot...,PG,Drama,NaN,Bob Bonney,NaN,NaN,NaN,NaN,110 minutes,NaN
1225,1581,Three twenty-something addicts fight to retain...,NR,Art House and International|Drama|Horror|Myste...,Carl Bessai,Arne Olsen,NaN,NaN,NaN,NaN,85 minutes,Film Sales Company
1499,1931,Mark Felt - The Man Who Brought Down the White...,PG-13,Drama,Peter Landesman,Peter Landesman,"Sep 29, 2017","Jan 9, 2018",$,"766,428",NaN,Sony Pictures Classics

In [58]:
dfs[df_names[8]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

### DataFrame 10:

In [47]:
df_names[9]

'title.episode'

In [55]:
dfs[df_names[9]].sample(5)

             tconst parentTconst seasonNumber episodeNumber
1816535   tt1897302    tt0447759           \N            \N
4656106   tt9796992    tt1500475            1          1353
2085728   tt2293335    tt1672656            1            68
3191911   tt5763994    tt0456771           \N            \N
1324741  tt11901326   tt11097998            2             5

In [56]:
dfs[df_names[9]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4703127 entries, 0 to 4703126
Data columns (total 4 columns):
tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtypes: object(4)
memory usage: 143.5+ MB

### DataFrame 11:

In [50]:
df_names[10]

'tn.movie_budgets'

In [53]:
dfs[df_names[10]].sample(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
2108,9,"Jun 21, 1985",Return to Oz,"$27,000,000","$10,618,813","$10,618,813"
3548,49,"Jan 7, 2005",White Noise,"$10,000,000","$56,094,360","$92,094,360"
4202,3,"Oct 5, 2012",Trade of Innocents,"$5,800,000","$15,091","$15,091"
2432,33,"Sep 14, 2001",The Glass House,"$22,000,000","$17,951,431","$22,861,785"
2291,92,"May 17, 1991",Stone Cold,"$25,000,000","$9,286,314","$9,286,314"

In [54]:
dfs[df_names[10]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB